:root {
  --text-color: red;
}
@bg-color: #fafbfc;

@warn-color: #F4606C;

@primary-color: #19CAAD;

@primary-test-color: @primary-color;

@primary-bg-color: @primary-color;

@padding-size: 7px;

@font-primary-color: #515a6e;

@font-pre-color: #000;

@border-color: #e1e4e8;

